<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    :root {
         --background-color: #ffffff;
         --text-color: #000000;
     }

     .dark-theme {
         --background-color: #333333;
         --text-color: #ffffff;
     }

     body {
         background-color: var(--background-color);
         color: var(--text-color);
         transition: background-color 0.5s, color 0.5s;
     }

     .theme-switch {
         margin-left: 10px;
         margin-top: 8px;
     }

     .navbar-brand {
         margin-right: auto;
         margin-left: 10px;
     }

     .theme-switch .custom-control-label::before {
         content: '';
     }


     #sidebar {
         display: none;
         position: fixed;
         right: 0;
         top: 0;
         height: 100%;
         width: 250px;
         background-color: #f8f9fa;
         border-left: 1px solid #dee2e6;
         z-index: 1000;
         overflow-y: auto;
     }

     .sidebar-link {
         padding: 10px;
         display: block;
     }


     .content-shifted {
         margin-right: 250px;
         transition: margin-right 0.3s;
     }


     .btn-scroll-back {
         position: absolute;
         top: 10px;
         right: 10px;
         background-color: transparent;
         border: none;
         cursor: pointer;
     }

     .btn-logout {
         background: none;
         border: none;
         padding: 0;
         font: inherit;
         cursor: pointer;
         outline: none;
         text-decoration: none;
         color: #007bff;
         transition: text-decoration 0.3s;
     }


     .btn-logout:hover {
         text-decoration: underline;
     }


     .btn-logout:active {
         text-decoration: underline;
     }

    }
      .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        background-color: var(--background-color); /* Default background color */
        color: var(--text-color); /* Default text color */
        transition: background-color 0.5s, color 0.5s; /* Smooth transition effect */
    }

    .dark-theme .table {
        background-color: #333333; /* Dark theme background color */
        color: #ffffff; /* Dark theme text color */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        cursor: pointer; /* Add cursor style for clickable headers */
    }

    th {
        background-color: #f2f2f2;
    }

    .inner-table {
        width: 100%;
        border-collapse: collapse;
    }

    .inner-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .inner-table th {
        background-color: #f2f2f2;
    }
   .sortable {
        color: #000000; /* Set text color to black for sortable headers */
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 200px;
    }

    .chart{
        padding: 2rem;
        border: 1px solid #f49131;
        border-radius: 1rem;
        background: #251c35;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" onclick="event.preventDefault(); window.location.href='/account';">
            <img src="/images/imageLogo.png" alt="Logo" width="30" height="30">
            Accounting
        </a>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>
</header>


<div th:if="${#lists.isEmpty(listOfKeysArray)}">
    <h2 style="margin-left: 15px;">You have no budgets, create it!</h2>
    <a class="btn btn-primary btn-lg" style="margin-left: 15px;" href="createBudgets">Create budgets</a>
</div>
<div th:unless="${#lists.isEmpty(listOfKeysArray)}">
    <h2 style="margin-left: 15px;">Analytics with data</h2>

    <section id="latest-transactions" style="margin-left: 25px;">
        <h5>Your budgets</h5>

        <div th:each="entry, iterStat : ${budgetTransactions}">
            <h6 th:text="${entry.key}"></h6>

            <table class="table">
                <thead>
                <tr>
                    <th class="sortable" data-column="description">Description</th>
                    <th class="sortable" data-column="amount">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction, iter : ${entry.value}" th:if="${iter.index < 10}">
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.amount + '₴'}"
                        th:style="${transaction.amount >= 0 ? 'color: green;' : 'color: red;'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>




<footer class="text-center py-3">
    <p>&copy; 2024 Accounting Website</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>
