<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Budgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        :root {
            --background-color: #ffffff;
            --text-color: #000000;
        }

        .dark-theme {
            --background-color: #333333;
            --text-color: #ffffff;
        }

        body {
            background-color: var(--background-color);
            color: var(--text-color);
            transition: background-color 0.5s, color 0.5s;
        }

        .theme-switch {
            margin-left: 10px;
            margin-top: 8px;
        }

        .navbar-brand {
            margin-right: auto;
            margin-left: 10px;
        }

        .theme-switch .custom-control-label::before {
            content: '';
        }


        #sidebar {
            display: none;
            position: fixed;
            right: 0;
            top: 0;
            height: 100%;
            width: 250px;
            background-color: #f8f9fa;
            border-left: 1px solid #dee2e6;
            z-index: 1000;
            overflow-y: auto;
        }

        .sidebar-link {
            padding: 10px;
            display: block;
        }


        .content-shifted {
            margin-right: 250px;
            transition: margin-right 0.3s;
        }


        .btn-scroll-back {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .btn-logout {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            color: #007bff;
            transition: text-decoration 0.3s;
        }


        .btn-logout:hover {
            text-decoration: underline;
        }


        .btn-logout:active {
            text-decoration: underline;
        }

}
        .budget-card {
            margin-bottom: 10px;
        }

        .budget-button {
            width: 100%;
            height: 60px;
            border: 2px solid;
        }

        .dark-theme .budget-button {
            border-color: #ffffff;
        }

        .light-theme .budget-button {
            border-color: #000000;
        }

        .button-group {
            display: none;
            margin-top: 10px;
        }

        .budget-card:hover .button-group {
            display: block;
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: var(--background-color);
            color: var(--text-color);
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" onclick="event.preventDefault(); window.location.href='/account';">
            <img src="images/imageLogo.png" alt="Logo" width="30" height="30">
            Accounting
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container mt-5">
    <h2>Create Budgets</h2>

    <button class="btn btn-primary" onclick="toggleForm()">Create New Budget</button>

    <div id="budgetForm" style="display: none;">
        <form th:action="@{/createBudget}" method="post">
            <div class="form-group">
                <label for="budgetName">Budget Name:</label>
                <input type="text" class="form-control" id="budgetName" name="budgetName" required>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Create</button>
        </form>
    </div>
    <h2>Your Budgets</h2>
    <div th:each="budget, stat : ${budgets}">
        <div class="card budget-card">
            <button class="btn btn-light budget-button text-left">
                <span th:text="${stat.index + 1 + '. ' + budget.name}"></span>
            </button>
            <div class="button-group">
                <a th:href="@{'/editBudget/' + ${budget.id}}" class="btn btn-warning btn-sm ml-2">Edit</a>
                <a th:href="@{'/deleteBudget/' + ${budget.id}}" class="btn btn-danger btn-sm ml-2">Delete</a>
                <button class="btn btn-info btn-sm ml-2" onclick="toggleUpdateForm('${budget.id}')">Change Name</button>
                <div id="updateForm${budget.id}" style="display: none;">
                    <form th:action="@{/updateBudgetName}" method="post">
                        <input type="hidden" name="budgetId" th:value="${budget.id}">
                        <div class="form-group">
                            <label for="updatedName">New Budget Name:</label>
                            <input type="text" class="form-control" id="updatedName" name="updatedName" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Update Name</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="text-center py-3">
    <p>&copy; 2024 Accounting Website</p>
</footer>

<script>
    const settingsButton = document.getElementById('settingsButton');
    const sidebar = document.getElementById('sidebar');
    const content = document.querySelector('main');
    const scrollBackButton = document.getElementById('scrollBackButton');

    settingsButton.addEventListener('click', function () {

        if (sidebar.style.display === 'none') {
            sidebar.style.display = 'block';
            content.classList.add('content-shifted');
        } else {
            sidebar.style.display = 'none';
            content.classList.remove('content-shifted');
        }
    });

    scrollBackButton.addEventListener('click', function () {
        sidebar.style.display = 'none';
        content.classList.remove('content-shifted');
    });
    function toggleForm() {
        var form = document.getElementById('budgetForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
    function toggleUpdateForm(budgetId) {
        var formId = "updateForm" + budgetId;
        var form = document.getElementById(formId);
        form.style.display = form.style.display === "none" ? "block" : "none";
    }
</script>

</body>
</html>
