<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Budget</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>

    :root {
        --background-color: #ffffff;
        --text-color: #000000;
    }

    .dark-theme {
        --background-color: #333333;
        --text-color: #ffffff;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        transition: background-color 0.5s, color 0.5s;
    }

    .theme-switch {
        margin-left: 10px;
        margin-top: 8px;
    }

    .navbar-brand {
        margin-right: auto;
        margin-left: 10px;
    }

    .theme-switch .custom-control-label::before {
        content: '';
    }


    #sidebar {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 250px;
        background-color: #f8f9fa;
        border-left: 1px solid #dee2e6;
        z-index: 1000;
        overflow-y: auto;
    }

    .sidebar-link {
        padding: 10px;
        display: block;
    }


    .content-shifted {
        margin-right: 250px;
        transition: margin-right 0.3s;
    }


    .btn-scroll-back {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .btn-logout {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: #007bff;
        transition: text-decoration 0.3s;
    }


    .btn-logout:hover {
        text-decoration: underline;
    }


    .btn-logout:active {
        text-decoration: underline;
    }

          .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        background-color: var(--background-color); /* Default background color */
        color: var(--text-color); /* Default text color */
        transition: background-color 0.5s, color 0.5s; /* Smooth transition effect */
    }

    .dark-theme .table {
        background-color: #333333; /* Dark theme background color */
        color: #ffffff; /* Dark theme text color */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        cursor: pointer; /* Add cursor style for clickable headers */
    }

  </style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" onclick="event.preventDefault(); window.location.href='/account';">
      <img src="/images/imageLogo.png" alt="Logo" width="30" height="30">
      Accounting
    </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
  </nav>
</header>


<div th:if="${successMessage}" class="alert alert-success" role="alert">
  <span th:text="${successMessage}"></span>
</div>

<div class="container mt-5">
  <h2>Add transaction</h2>
  <h3 th:text="${budget.name}"></h3>
  <form th:action="@{/saveTransaction}" method="post">
    <input type="hidden" th:name="budgetId" th:value="${budget.id}" />

    <div class="form-group">
      <label for="transactionType">Transaction Type:</label>
      <select class="form-control" id="transactionType" name="transactionType" required>
        <option value="plus">Plus</option>
        <option value="minus">Minus</option>
      </select>
    </div>
    <div class="form-group">
      <label for="transactionDescription">Description:</label>
      <input type="text" class="form-control" id="transactionDescription" name="transactionDescription" required>
    </div>
    <div class="form-group">
      <label for="transactionAmount">Amount:</label>
      <input type="number" class="form-control" id="transactionAmount" name="transactionAmount" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save Transaction</button>
  </form>
</div>

<div class="container mt-5">
  <h2 class="text-center">Transactions</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
      <td th:text="${transaction.description}"></td>
      <td th:text="${transaction.amount}"></td>
      <td>
        <a th:href="@{'/deleteTransaction/' + ${transaction.id} + '?budgetId=' + ${budget.id}}" class="btn btn-danger btn-sm ml-2">Delete</a>
        <a th:href="@{'/editTransaction/' + ${transaction.id}}" class="btn btn-warning btn-sm ml-2">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<footer class="text-center py-3">
  <p>&copy; 2024 Accounting Website</p>
</footer>

<script>

</script>
</body>
</html>
